<!-- <h2 id="title">Welcome to Ember</h2> -->

<div class="well"><h1>Super Rentals </h1></div>
{{outlet}}

<hr>

<footer>
  <span class="btn btn-default">{{#link-to 'index'}}Home{{/link-to}}</span>
  <span class="btn btn-default">{{#link-to 'cities'}}Cities{{/link-to}}</span>
  <span class="btn btn-default">{{#link-to 'about'}}About{{/link-to}}</span>
  <span class="btn btn-default">{{#link-to 'contact'}}Contact us{{/link-to}}</span>

</footer>
