<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model as |rental-unit|}}
    <!-- {{rental-tile rental=rental-unit}} -->
    {{rental-tile rental=rental-unit update="update" destroyRental="destroyRental"}}
  {{/each}}
</ul>

{{new-rental save2="save3"}}
<br />
<span class="btn btn-default">{{#link-to 'cities'}}Cities{{/link-to}}</span>
<span class="btn btn-default">{{#link-to 'about'}}About{{/link-to}}</span>
<span class="btn btn-default">{{#link-to 'contact'}}Contact us{{/link-to}}</span>
